In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('base_datos_2008.csv.bz2', nrows = 100000)

In [5]:
df.head(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,1039.0,1040,1132.0,1150,WN,535,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617.0,615,652.0,650,WN,11,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620.0,1620,1639.0,1655,WN,810,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [6]:
df.tail(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
99990,2008,1,20,7,1927.0,1935,2257.0,2257,XE,7676,...,5.0,37.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99991,2008,1,21,1,NaN,1935,NaN,2257,XE,7676,...,NaN,NaN,1,A,0,NaN,NaN,NaN,NaN,NaN
99992,2008,1,22,2,1949.0,1935,2256.0,2257,XE,7676,...,4.0,18.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99993,2008,1,23,3,1944.0,1935,2257.0,2257,XE,7676,...,6.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99994,2008,1,24,4,1950.0,1935,2332.0,2257,XE,7676,...,5.0,52.0,0,NaN,0,0.0,0.0,20.0,0.0,15.0
99995,2008,1,25,5,2204.0,1935,106.0,2257,XE,7676,...,4.0,17.0,0,NaN,0,0.0,0.0,0.0,0.0,129.0
99996,2008,1,26,6,1933.0,1935,2234.0,2257,XE,7676,...,4.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99997,2008,1,27,7,2047.0,1935,2400.0,2257,XE,7676,...,6.0,18.0,0,NaN,0,23.0,0.0,0.0,0.0,40.0
99998,2008,1,28,1,1956.0,1935,2308.0,2257,XE,7676,...,5.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
99999,2008,1,29,2,1938.0,1935,2308.0,2257,XE,7676,...,5.0,41.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [7]:
df = df.sample(frac = 1)

In [9]:
#Atributo, no metodo
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [10]:
df.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime         int64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [11]:
df.values

array([[2008, 1, 15, ..., nan, nan, nan],
       [2008, 1, 18, ..., nan, nan, nan],
       [2008, 1, 30, ..., nan, nan, nan],
       ...,
       [2008, 1, 12, ..., nan, nan, nan],
       [2008, 1, 16, ..., nan, nan, nan],
       [2008, 1, 23, ..., nan, nan, nan]], dtype=object)

In [13]:
df2 = df.head(10)
df2

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
40144,2008,1,15,2,1149.0,1145,1408.0,1420,WN,1345,...,12.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
51476,2008,1,18,5,1136.0,1130,1245.0,1300,WN,2637,...,7.0,5.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
97078,2008,1,30,3,1632.0,1640,1749.0,1805,XE,33,...,5.0,9.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
59570,2008,1,21,1,1208.0,1120,1344.0,1255,WN,994,...,2.0,12.0,0,NaN,0,48.0,0.0,1.0,0.0,0.0
18503,2008,1,8,2,713.0,715,833.0,830,WN,1689,...,3.0,14.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
75242,2008,1,26,6,1130.0,1130,1230.0,1225,WN,945,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
55008,2008,1,20,7,805.0,805,917.0,925,WN,2242,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
45876,2008,1,17,4,2004.0,2005,2105.0,2105,WN,2095,...,5.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
15102,2008,1,7,1,1435.0,1440,1642.0,1650,WN,983,...,8.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
76412,2008,1,26,6,1320.0,1255,1519.0,1510,WN,46,...,2.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [14]:
df['ArrDelay'].head()

40144   -12.0
51476   -15.0
97078   -16.0
59570    49.0
18503     3.0
Name: ArrDelay, dtype: float64