In [1]:
import pandas as pd
df = pd.read_csv('base_datos_2008.csv.bz2')

In [4]:
df['HoursDelay'] = round(df['ArrDelay']/60, 3)

In [5]:
df['HoursDelay']

0         -0.233
1          0.033
2          0.233
3         -0.100
4          0.567
           ...
7009723    0.233
7009724   -0.033
7009725    0.000
7009726    0.150
7009727   -0.083
Name: HoursDelay, Length: 7009728, dtype: float64

In [7]:
df = df.drop(['Diverted'], axis = 1)

In [8]:
dfATL = df[df.Origin == 'ATL']
dfHOU = df[df.Origin == 'HOU']

In [10]:
dfCIU = dfATL.append(dfHOU)
dfCIU

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
103149,2008,1,21,1,1207.0,1210,1346.0,1335,XE,2349,...,11.0,13.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.183
103572,2008,1,12,6,1458.0,1500,1622.0,1620,XE,2145,...,6.0,17.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.033
104019,2008,1,20,7,1403.0,1330,1625.0,1608,XE,1284,...,6.0,32.0,0,NaN,0.0,0.0,17.0,0.0,0.0,0.283
104124,2008,1,26,6,1629.0,1630,1832.0,1902,XE,1241,...,9.0,15.0,0,NaN,NaN,NaN,NaN,NaN,NaN,-0.500
104485,2008,1,4,5,1336.0,1340,1501.0,1500,XE,2112,...,12.0,12.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7003419,2008,12,8,1,1053.0,1050,1354.0,1349,DL,1292,...,15.0,11.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.083
7004690,2008,12,9,2,1105.0,1050,1411.0,1349,DL,1292,...,10.0,10.0,0,NaN,0.0,0.0,7.0,0.0,15.0,0.367
7005947,2008,12,10,3,1313.0,1050,1634.0,1349,DL,1292,...,15.0,13.0,0,NaN,143.0,0.0,22.0,0.0,0.0,2.750
7007233,2008,12,11,4,1047.0,1050,1355.0,1349,DL,1292,...,13.0,11.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.100
7008545,2008,12,12,5,1114.0,1050,1406.0,1349,DL,1292,...,11.0,8.0,0,NaN,3.0,0.0,0.0,0.0,14.0,0.283